.skills_container {
  grid-template-columns: repeat(2, 450px);
  column-gap: 3rem;
  justify-content: center;
}

@media screen and (max-width: 992px){
  .skills_container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 576px){
  .skills_container {
    grid-template-columns: 1fr;
  }
}